[Unit]
Description=Umami Analytics
After=network.target mysql.service

[Service]
User=umami
Group=umami
WorkingDirectory=/var/www/theraphael0000.ch/tasty.theraphael0000.ch
ExecStart=/usr/local/bin/yarn run start
Restart=on-failure
ReadWritePaths=/var/www/theraphael0000.ch/tasty.theraphael0000.ch

[Install]
WantedBy=multi-user.target
